@media (max-width: 575.98px) {
  .hidden-xs {
    display: none;
  }
  .scores {
    white-space: nowrap;
  }
  .table td,
  .table th {
    padding: 0.3rem;
  }
}

@media (min-width: 575.98px) {
  .hidden-lg {
    display: none;
  }
}

.modal-body,
.modal-header,
.modal-content {
  background-color: #343a40;
  color: #fff;
}
.close {
  color: #fff;
  text-shadow: none;
}

.imgGame {
  margin-bottom: 1rem;
  height: 100px; /* Set a small width */
  width: 100px; /* Set a small width */
}

.imgGameList {
  height: 100px;
  width: 100px; /* Set a small width */
}

.game-col {
  padding-right: 0px;
  padding-left: 0px;
}

.game-img td,
.game-img th {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.white-text {
  color: #fff;
  margin-bottom: 0.5rem;
}
