@media (max-width: 575.98px) {
  .hidden-xs {
    display: none;
  }
  .scores {
    white-space: nowrap;
  }
  .table td,
  .table th {
    padding: 0.3rem;
  }
}

@media (min-width: 575.98px) {
  .hidden-lg {
    display: none;
  }
}

.modal-body,
.modal-header,
.modal-content {
  background-color: #343a40;
  color: #fff;
}
.close {
  color: #fff;
  text-shadow: none;
}

.imgGame {
  margin-bottom: 1rem;
  height: 100px; /* Set a small width */
  width: 100px; /* Set a small width */
}

.imgGameList {
  height: 100px;
  width: 100px; /* Set a small width */
}

.game-col {
  padding-right: 0px;
  padding-left: 0px;
}

.game-img td,
.game-img th {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.white-text {
  color: #fff;
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}
.purple-button {
  background-color: #4c2672;
  border-color: #4c2672;
}
.purple-button:active {
  background-color: rgb(66, 33, 99) !important;
  border-color: rgb(66, 33, 99) !important;
  box-shadow: 0 0 0 0.2rem rgb(66, 33, 99, 0.5) !important;
}
.purple-button:hover {
  background-color: rgb(66, 33, 99) !important;
  border-color: rgb(66, 33, 99);
  box-shadow: 0 0 0 0.2rem rgb(66, 33, 99, 0.5);
}
.purple-button:focus {
  background-color: rgb(66, 33, 99) !important;
  box-shadow: 0 0 0 0.2rem rgb(66, 33, 99, 0.5);
  border-color: rgb(66, 33, 99);
}
.without-padding {
  padding: 0;
}
.margin-bottom {
  margin-bottom: 1rem;
}
