@media (max-width: 575.98px) {
  .hidden-xs {
    display: none;
  }
  .scores {
    white-space: nowrap;
  }
}

@media (min-width: 575.98px) {
  .hidden-lg {
    display: none;
  }
}

.modal-body,
.modal-header,
.modal-content {
  background-color: #343a40;
  color: #fff;
}
.close {
  color: #fff;
  text-shadow: none;
}

.imgGame {
  padding: 15px; /* Some padding */
  width: 100%; /* Set a small width */
}

.imgGameList {
  height: 100px;
  width: 100px; /* Set a small width */
}
